.avatar {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5);
    background-color: #0000;
    border: 1px solid #eef2f4;
    cursor: pointer;
    padding: 0;
}

.avatar > div {
    margin-left: -1px;
    margin-top: -1px;
}

.avatar-circle {
    width: 128px;
    min-height: 128px;
    border-radius: 64px;
}

.avatar:hover > div {
    background-color: rgba(0, 0, 0, 0.5);
}

.avatar:focus {
    outline: solid #1c88fc;
}

